# Etherchannel Totals
| Number of Aggregators | Number of LAG in use |
| --------------------- | -------------------- |
| {{ to_parse_etherchannel_summary.number_of_aggregators }} | {{ to_parse_etherchannel_summary.number_of_lag_in_use }} |