<html><body>
<h1>Show Etherchannel Summary</h1>
<table style="width:100%">
  <tr>
    <th>Number of Aggregators</th>
    <th>Number of LAG In Use</th>
  </tr>
  <tr>
    <td>{{ to_parse_etherchannel_summary.number_of_aggregators }}</td>
    <td>{{ to_parse_etherchannel_summary.number_of_lag_in_use }}</td>
  </tr>
</table>
</body></html>