Slot,Part,Description,Serial Number,Virtual ID,Subslot,Subslot Part,Subslot Description,Subslot Serial Number,SubSlot Virtual ID{% for slot in to_parse_inventory %}{% for part in to_parse_inventory[slot] %}{% for part_number in to_parse_inventory[slot][part] %}{% if to_parse_inventory[slot][part][part_number].subslot is defined %}{% for subslot in to_parse_inventory[slot][part][part_number].subslot %}{% for subslot,subslot_part in to_parse_inventory[slot][part][part_number].subslot.items() %}{% for subslot_part,part_details in subslot_part.items() %}
{{ slot }},{{ part_number }},{{ to_parse_inventory[slot][part][part_number].descr }},{{ to_parse_inventory[slot][part][part_number].sn }},{{ to_parse_inventory[slot][part][part_number].vid }},{{ subslot }},{{ subslot_part }},{{ part_details.descr }},{{ part_details.sn }},{{ part_details.vid }}{% endfor %}{% endfor %}{% endfor %}{% else %}
{{ slot }},{{ part_number }},{{ to_parse_inventory[slot][part][part_number].descr }},{{ to_parse_inventory[slot][part][part_number].sn }},{{ to_parse_inventory[slot][part][part_number].vid }},N/A,N/A,N/A,N/A,N/A{% endif %}{% endfor %}{% endfor %}{% endfor %}