<html><body>
<h1>Show NTP Associations</h1>
<table style="width:100%">
  <tr>
    <th>Server Address</th>
    <th>Reference Clock</th>
    <th>Stratum</th>
    <th>Poll</th>   
    <th>Reach</th>
    <th>Delay</th>
    <th>Offset</th>
    <th>Dispersion</th>    
  </tr>{% for peer in to_parse_ntp_associations.peer %}  
  <tr>
    <td>{{ peer }}</td>
    <td>{{ to_parse_ntp_associations['peer'][peer]['local_mode']['client']['refid'] }}</td>
    <td>{{ to_parse_ntp_associations['peer'][peer]['local_mode']['client']['stratum'] }}</td>
    <td>{{ to_parse_ntp_associations['peer'][peer]['local_mode']['client']['poll'] }}</td>
    <td>{{ to_parse_ntp_associations['peer'][peer]['local_mode']['client']['reach'] }}</td>
    <td>{{ to_parse_ntp_associations['peer'][peer]['local_mode']['client']['delay'] }}</td>
    <td>{{ to_parse_ntp_associations['peer'][peer]['local_mode']['client']['offset'] }}</td>
    <td>{{ to_parse_ntp_associations['peer'][peer]['local_mode']['client']['jitter'] }}</td>
  </tr>{% endfor %}
</table>
</body></html>